[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
ipykernel = "*"
opencv-python = "*"
matplotlib = "*"
pandas = "*"
pyarrow = "*"
appnope = "*"
torch = "*"
albumentations = "*"

[dev-packages]

[requires]
python_version = "3.10"
