-i https://pypi.org/simple
absl-py==2.1.0; python_version >= '3.7'
albumentations==1.3.1
appnope==0.1.4
asttokens==2.4.1
astunparse==1.6.3
cachetools==5.3.3; python_version >= '3.7'
certifi==2024.2.2; python_version >= '3.6'
charset-normalizer==3.3.2; python_full_version >= '3.7.0'
cloudpickle==3.0.0; python_version >= '3.8'
comm==0.2.1; python_version >= '3.8'
contourpy==1.2.0; python_version >= '3.9'
cycler==0.12.1; python_version >= '3.8'
debugpy==1.8.1; python_version >= '3.8'
decorator==5.1.1; python_version >= '3.5'
dm-tree==0.1.8
exceptiongroup==1.2.0; python_version < '3.11'
executing==2.0.1; python_version >= '3.5'
filelock==3.13.1; python_version >= '3.8'
flatbuffers==23.5.26
fonttools==4.49.0; python_version >= '3.8'
fsspec==2024.2.0; python_version >= '3.8'
gast==0.4.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
google-auth==2.28.1; python_version >= '3.7'
google-auth-oauthlib==1.0.0; python_version >= '3.6'
google-pasta==0.2.0
grpcio==1.62.0; python_version >= '3.7'
h5py==3.10.0; python_version >= '3.8'
huggingface-hub==0.21.3; python_full_version >= '3.8.0'
idna==3.6; python_version >= '3.5'
imageio==2.34.0; python_version >= '3.8'
iprogress==0.4
ipykernel==6.29.3
ipython==8.22.1; python_version >= '3.10'
ipywidgets==8.1.2
jedi==0.19.1; python_version >= '3.6'
jinja2==3.1.3; python_version >= '3.7'
joblib==1.3.2; python_version >= '3.7'
jupyter-client==8.6.0; python_version >= '3.8'
jupyter-core==5.7.1; python_version >= '3.8'
jupyterlab-widgets==3.0.10; python_version >= '3.7'
keras==2.13.1; python_version >= '3.8'
kiwisolver==1.4.5; python_version >= '3.7'
lazy-loader==0.3; python_version >= '3.7'
libclang==16.0.6
markdown==3.5.2; python_version >= '3.8'
markupsafe==2.1.5; python_version >= '3.7'
matplotlib==3.8.3
matplotlib-inline==0.1.6; python_version >= '3.5'
mpmath==1.3.0
nest-asyncio==1.6.0; python_version >= '3.5'
networkx==3.2.1; python_version >= '3.9'
numpy==1.24.3
oauthlib==3.2.2; python_version >= '3.6'
onnx==1.15.0
onnx-tf==1.10.0
opencv-python==4.9.0.80
opencv-python-headless==4.9.0.80; python_version >= '3.6'
opt-einsum==3.3.0; python_version >= '3.5'
packaging==23.2; python_version >= '3.7'
pandas==2.2.1
parso==0.8.3; python_version >= '3.6'
pexpect==4.9.0; sys_platform != 'win32' and sys_platform != 'emscripten'
pillow==10.2.0; python_version >= '3.8'
platformdirs==4.2.0; python_version >= '3.8'
prompt-toolkit==3.0.43; python_full_version >= '3.7.0'
protobuf==3.20.3; python_version >= '3.7'
psutil==5.9.8; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==15.0.0
pyasn1==0.5.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
pyasn1-modules==0.3.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
pygments==2.17.2; python_version >= '3.7'
pyparsing==3.1.1; python_full_version >= '3.6.8'
python-dateutil==2.8.2; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pytz==2024.1
pyyaml==6.0.1; python_version >= '3.6'
pyzmq==25.1.2; python_version >= '3.6'
qudida==0.0.4; python_full_version >= '3.5.0'
requests==2.31.0; python_version >= '3.7'
requests-oauthlib==1.3.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
rsa==4.9; python_version >= '3.6' and python_version < '4'
safetensors==0.4.2; python_version >= '3.7'
scikit-image==0.22.0; python_version >= '3.9'
scikit-learn==1.4.1.post1
scipy==1.12.0; python_version >= '3.9'
setuptools==69.1.1; python_version >= '3.8'
six==1.16.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
stack-data==0.6.3
sympy==1.12; python_version >= '3.8'
tensorboard==2.13.0; python_version >= '3.8'
tensorboard-data-server==0.7.2; python_version >= '3.7'
tensorflow==2.13
tensorflow-addons==0.23.0
tensorflow-estimator==2.13.0; python_version >= '3.7'
tensorflow-macos==2.13.0; platform_system == 'Darwin' and platform_machine == 'arm64'
tensorflow-probability==0.23.0
termcolor==2.4.0; python_version >= '3.8'
tf2onnx==1.16.1
threadpoolctl==3.3.0; python_version >= '3.8'
tifffile==2024.2.12; python_version >= '3.9'
timm==0.9.16
torch==2.1.2
torchaudio==2.1.2
torchvision==0.16.2
tornado==6.4; python_version >= '3.8'
tqdm==4.66.2
traitlets==5.14.1; python_version >= '3.8'
typeguard==2.13.3; python_full_version >= '3.5.3'
typing-extensions==4.5.0; python_version >= '3.7'
tzdata==2024.1; python_version >= '2'
urllib3==2.2.1; python_version >= '3.8'
wcwidth==0.2.13
werkzeug==3.0.1; python_version >= '3.8'
wheel==0.42.0; python_version >= '3.7'
widgetsnbextension==4.0.10; python_version >= '3.7'
wrapt==1.16.0; python_version >= '3.6'
